{% extends "game_clubs/base.html" %}
{% block content %}

<p>Board Game: {{ game }}</p>


<p>Loan the game and give a estimate how long you are going to keep the board game</p>
<p>Remember to check that the game is available!</p>
<p>
<a href="{% url 'game_clubs:new_loan' game.id %}">Add new loan</a>
</p>
<p>Loans for the game:</p>
<ul>
{% for loan in loans %}
<li>
    <p>{{ loan.date_added|date:'M d, Y H:i' }}</p>
    <p>{{ loan.my_loan|linebreaks }}</p>
    <p>
    <a href="{% url 'game_clubs:edit_loan' loan.id %}">Edit loan</a>
    </p>   
</li>
{% empty %}
<li>No loans yet</li>
{% endfor %}
</ul>

{% endblock content %}